.c-header {
  width: 100%;
  height: 7em;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0 8px 0;
  background-color: #f4f4f4;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  flex: 0 1 auto;
  order: 0;
  position: relative;
}

.c-header__logoArea {
  width: 22.5em;
  height: 4.8em;
  flex: none;
  order: 0;
  margin: 0px 24px;
}

.c-header__logo--One {
  position: static;
}


.c-header__logo--Two {
  position: absolute;
}

.c-header__cart,
.c-header__account {
  flex-grow: 0;
  height: 3em;
  width: 8em;
  display: flex;
  align-items: center;
}

.c-header__cart {
  position: relative;
  right: 15px;
}

.c-header__cartIndicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 25px;
  left: 20px;
  background-color: #F09035;
  position: absolute;
  color: white;
}

.c-header__cartIndicator p {
  position: absolute;
  margin-top: 1px;
  margin-left: 5px;
}

.c-header__cart--text,
.c-header__account--text {
  margin-left: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #ED3237;
}

.c-header__quantidade {
  display: flex;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #F09035;
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6%;
  top: 2%;
}

.c-header__confirmacaoAdicao {
  position: absolute;
  width: 20.8em;
  height: auto;
  top: 4em;
  transition: 0.3s;
  right: 0;
  background-color: transparent;
}

.c-header__indicador {
  position: relative;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid #F09035;
  margin-left: 65%;
}

.c-header__titleConfirmacao {
  position: relative;
  background-color: #F09035;
  color: white;
  width: 100%;
  height: 32px;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-header__titleConfirmacao {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.c-header__produtoConfirmado {
  background-color: #F8F8F8;
  position: absolute;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.c-header__produtoConfirmado p {
  margin-left: 10px;
}

.c-header__nomeProduto {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  color: #BC2E31;
}

.c-header__ingredientesTitle {
  margin: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #4E4E4E;
}

.c-header__ingredientes li {
  margin: 5px 0 3px 20px;

  list-style: inside;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
}