.c-input {
  width: 35.4em;
  height: 5em;
  background-color: white;
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ED3237;
}

@media(max-width: 1200px) {
  .c-input {
    width: 32em;
  }

  .c-input__entrada {
    font-size: 12px;
  }
}

@media(max-width: 1024px) {
  .c-input {
    width: 24em;
  }

  .c-input__entrada::placeholder {
    color: transparent;
  }
}

@media(max-width: 768px) {
  .c-input {
    display: none;
  }
}

.c-input__entrada {
  width: 80%;
  height: 90%;
  border: 0;
  border-radius: 4px;
  margin-left: 3px;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 10px;
  color: #656363;
}

.c-input__icon {
  position: absolute;
  z-index: 1;
  right: 20px;
}